<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Book API</h1>
      <p class="lead">Powered by Google Books</p>
    </div>
</div>

<div class="container">
    <button type="button" class="btn btn-dark" routerLink="/search">Start Search</button>
  
    <br> <!--Footer--> <br>
  </div>

<div class="container">
    <div class="card">
        <h5 class="card-header">Integrate with the Google Books repository</h5>
        <div class="card-body">
        <h5 class="card-title">Overview</h5>
        <p class="card-text">Google Books is our effort to make book content more discoverable on the Web. Using the Google Books API, your application can perform full-text searches and retrieve book information, viewability and eBook availability. You can also manage your personal bookshelves.</p>
        <a href="https://developers.google.com/books/docs/overview" target="_blank" class="btn btn-primary">Read More</a>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="card">
        <h5 class="card-header">Embed book previews on your site</h5>
        <div class="card-body">
        <h5 class="card-title">Embedded Viewer</h5>
        <p class="card-text">The Embedded Viewer API lets you embed Google Books previews on your own website and programmatically control these previews.</p>
        <a href="https://developers.google.com/books/docs/viewer/developers_guide" target="_blank" class="btn btn-primary">Read More</a>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="card">
        <h5 class="card-header">Case studies</h5>
        <div class="card-body">
        <h5 class="card-title">Featured Intergrations</h5>
        <p class="card-text">See how the Google Books APIs are being used by WorldCat, GoodReads, the University of California Libraries, and more.</p>
        <a href="https://developers.google.com/books/casestudies" target="_blank" class="btn btn-primary">Read More</a>
        </div>
    </div>
</div>

<br>

<div class="container">
  <br> <!--Footer--> <br>
</div>